body {
    margin: 0px;
    padding: 0px;
    font-family: 'Old Standard TT', serif;
    color: #000;
    float: left;
    width: 100%
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0px;
    padding: 0px
}

input {
    font-family: 'Raleway', sans-serif;
    outline: 0
}

textarea {
    font-family: 'Raleway', sans-serif;
    outline: 0
}

.btn {
    background: #fc4733;
    opacity: 1;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 35px 14px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    border: 2px solid #fc4733;
    border-radius: 2px
}

.btn:hover {
    background: #fff;
    color: #fc4733
}

.header-top {
    background: #464646;
    width: 100%;
    height: 10px
}

.nav-sec {
    padding: px 0;
    text-align: center;
    border-bottom: 1px solid #ccc
}

.nav-sec .nav {
    text-align: center;
    display: block
}

.nav-sec .nav .nav-item {
    padding: 21px 20px 15px 18px;
    border-right: 1px solid #ccc;
    display: inline-block
}

.nav-sec .nav .nav-item:last-child {
    border-right: 0
}

.nav-sec .nav .nav-link {
    color: #000;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
    padding: 0;
    line-height: 15px
}

.nav-sec .nav .nav-link:hover {
    color: #fc4733
}

.nav-sec .nav .nav-link.active {
    color: #fc4733
}

.header-main {
    padding: 80px 0
}

.header-main .container {
    max-width: 1000px
}

.header-main .share span {
    font-size: 20px;
    padding: 0 8px;
    cursor: pointer
}

.header-main .share .instagram {
    color: #8c6239
}

.header-main .share .twitter {
    color: #00bff3
}

.header-main .share .pinterest {
    color: #d339a5
}

.header-main .share .google {
    color: #39b54a
}

.header-main .share .fb {
    color: #0072bc
}

.header-main .logo-sec {
    text-align: center
}

.header-main .logo-sec img {
    margin-bottom: 8px
}

.header-main .logo-sec h5 {
    opacity: 0.6;
    font-size: 14px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: .6px
}

.header-main .search-sec .search {
    width: 218px;
    border: 1px solid #cacaca;
    float: right;
    height: 40px
}

.header-main .search-sec .search input {
    width: 190px;
    border: 0;
    font-size: 12px;
    padding-left: 10px;
    letter-spacing: 0.4px;
    height: 100%
}

.header-main .search-sec .search span {
    color: #39b54a;
    padding: 0px;
    margin-top: 5px;
    display: inline-block
}

.navbar-toggler {
    display: none
}

.banner-sec {
    width: 100%;
    height: 554px;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center
}

.banner-sec .banner-content {
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif
}

.banner-sec .banner-content h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px
}

.banner-sec .banner-content h4 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 40px
}

.main-sec {
    width: 100%;
    float: left;
    padding: 50px 0;
    margin-bottom: 40px
}

.main-sec .container {
    width: 1075px;
    max-width: 1075px;
    padding: 0
}

.main-sec .standard-post-format {
    width: 685px;
    float: left
}

.main-sec .standard-post-format .post-item {
    border: 1px solid #e4e4e4;
    text-align: center;
    color: #555555;
    margin-bottom: 50px
}

.main-sec .standard-post-format .post-item img {
    max-width: 100%
}

.main-sec .standard-post-format .post-item .breadcrumb {
    background: transparent;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 5px
}

.main-sec .standard-post-format .post-item .breadcrumb .breadcrumb-item {
    font-size: 13px;
    display: inline-block;
    letter-spacing: 0.3px
}

.main-sec .standard-post-format .post-item .breadcrumb .breadcrumb-item a {
    border-bottom: 1px solid;
    line-height: 15px;
    display: inline-block
}

.main-sec .standard-post-format .post-item .breadcrumb .breadcrumb-item a:hover {
    border-bottom: 1px solid #fff;
    text-decoration: none
}

.main-sec .standard-post-format .post-item .breadcrumb .admin {
    color: #00aeef
}

.main-sec .standard-post-format .post-item .breadcrumb .fashion {
    color: #ec008c
}

.main-sec .standard-post-format .post-item h5 {
    font-size: 18px;
    padding: 0 60px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
    opacity: 0.7;
    letter-spacing: 0.6px;
    margin-bottom: 30px
}

.main-sec .standard-post-format .post-item .continue-read {
    font-size: 14px;
    color: #fc4733;
    letter-spacing: 0.4px;
    border-bottom: 1px solid;
    text-decoration: none;
    line-height: 18px
}

.main-sec .standard-post-format .big-post {
    padding: 50px 0 0
}

.main-sec .standard-post-format .big-post h2 {
    font-size: 38px;
    font-weight: 300;
    padding: 0 74px;
    margin-bottom: 40px;
    color: #555555;
    line-height: 50px
}

.main-sec .standard-post-format .big-post img {
    margin-bottom: 25px
}

.main-sec .standard-post-format .big-post .continue-read {
    margin-bottom: 50px;
    display: inline-block
}

.main-sec .standard-post-format .big-post .share {
    background: #f0f8fb;
    color: #464646;
    padding: 24px 0
}

.main-sec .standard-post-format .big-post .share span {
    font-size: 18px;
    padding: 0 5px;
    cursor: pointer;
    color: #6c7072
}

.main-sec .standard-post-format .big-post .share span.text {
    font-size: 14px;
    cursor: initial
}

.main-sec .standard-post-format .big-post .share span:hover {
    color: #fc4733
}

.main-sec .standard-post-format .small-post-sec {
    margin: 0 -20px;
    margin-bottom: 20px
}

.main-sec .standard-post-format .small-post-sec .col-md-6 {
    padding: 0 20px
}

.main-sec .standard-post-format .small-post img {
    margin-bottom: 10px
}

.main-sec .standard-post-format .small-post .breadcrumb {
    opacity: 0.7
}

.main-sec .standard-post-format .small-post h2 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 36px;
    letter-spacing: -1.5px;
    padding: 0 20px;
    opacity: 0.9
}

.main-sec .standard-post-format .small-post h2 a {
    color: inherit;
    display: inline-block
}

.main-sec .standard-post-format .small-post h5 {
    padding: 0 20px;
    margin-bottom: 20px
}

.main-sec .standard-post-format .small-post .share {
    color: #464646;
    padding: 16px 0;
    border-top: 1px solid #e4e4e4
}

.main-sec .standard-post-format .small-post .share span {
    font-size: 18px;
    padding: 0 5px;
    cursor: pointer;
    color: #4c4c4c
}

.main-sec .standard-post-format .small-post .share span:hover {
    color: #fc4733
}

.main-sec .standard-post-format .small-post .continue-read {
    margin-bottom: 35px;
    display: inline-block
}

.main-sec .standard-post-format .small-post .breadcrumb .breadcrumb-item a {
    color: #555
}

.main-sec .standard-post-format .button-sec {
    text-align: center
}

.main-sec .standard-post-format .button-sec .load-more {
    background: #efefef;
    border: 2px solid #efefef;
    color: #252525;
    font-family: 'Raleway', sans-serif;
    opacity: 0.8;
    font-weight: 500
}

.main-sec .standard-post-format .button-sec .load-more:hover {
    background: #fc4733;
    border-color: #fc4733;
    color: #fff
}

.main-sec aside {
    float: right;
    width: 330px
}

.main-sec aside .about-sec {
    width: 100%;
    background: #eef7fa;
    padding: 40px 0px 0;
    text-align: center;
    border: 1px solid #e4e4e4;
    margin-bottom: 50px
}

.main-sec aside .about-sec h3 {
    font-size: 38px;
    font-weight: 300;
    color: #464646;
    margin-bottom: 25px
}

.main-sec aside .about-sec figure {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 30px
}

.main-sec aside .about-sec figure img {
    max-width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.main-sec aside .about-sec h5 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #464646;
    opacity: 0.9;
    margin-bottom: 20px;
    padding: 0 30px
}

.main-sec aside .about-sec a.read-more {
    color: #fc4733;
    border-bottom: 1px solid;
    font-size: 14px;
    letter-spacing: 0.3px
}

.main-sec aside .about-sec a.read-more:hover {
    text-decoration: none;
    border-bottom: 0
}

.main-sec aside .about-sec .share {
    padding: 20px 0 25px;
    border-top: 1px solid #cacaca;
    margin-top: 40px
}

.main-sec aside .about-sec .share span {
    font-size: 32px;
    padding: 0 12px
}

.main-sec aside .about-sec .share .instagram {
    color: #8c6239
}

.main-sec aside .about-sec .share .twitter {
    color: #00bff3
}

.main-sec aside .about-sec .share .pinterest {
    color: #d339a5
}

.main-sec aside .about-sec .share .google {
    color: #39b54a
}

.main-sec aside .about-sec .share .fb {
    color: #0072bc
}

.main-sec aside .category-sec {
    border: 1px solid #e4e4e4;
    text-align: center;
    margin-bottom: 50px
}

.main-sec aside .category-sec h3 {
    font-size: 36px;
    font-weight: 300;
    padding: 28px 0 24px;
    border-bottom: 1px solid #eaeaea;
    color: #464646
}

.main-sec aside .category-sec ul li {
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
    list-style: none
}

.main-sec aside .category-sec ul li a {
    font-size: 18px;
    color: #464646;
    font-weight: 300
}

.main-sec aside .category-sec ul li a.active {
    color: #fc4733;
    border-bottom: 1px solid
}

.main-sec aside .category-sec ul li a:hover {
    color: #fc4733;
    text-decoration: none
}

.main-sec aside .category-sec ul li:last-child {
    border-bottom: 0
}

.main-sec aside .most-read {
    border: 1px solid #e4e4e4;
    text-align: center;
    margin-bottom: 50px
}

.main-sec aside .most-read h3 {
    font-size: 36px;
    font-weight: 300;
    padding: 28px 0 24px;
    border-bottom: 1px solid #eaeaea;
    color: #464646;
    line-height: 36px
}

.main-sec aside .most-read ul {
    padding: 0 30px
}

.main-sec aside .most-read ul li {
    padding: 38px 0;
    border-bottom: 1px solid #eaeaea;
    list-style: none;
    display: flex
}

.main-sec aside .most-read ul li:last-child {
    border-bottom: 0
}

.main-sec aside .most-read ul li figure {
    width: 125px;
    height: 125px;
    margin-bottom: 0;
    transition: all 0.4s ease
}

.main-sec aside .most-read ul li figure:hover {
    transform: scale(1.05);
    opacity: 0.9
}

.main-sec aside .most-read ul li .post-content {
    width: 154px;
    padding-left: 15px;
    text-align: left
}

.main-sec aside .most-read ul li .post-content h3 {
    font-size: 18px;
    border-bottom: 0;
    padding: 0;
    margin-bottom: 14px;
    line-height: 24px;
    letter-spacing: 0.4px
}

.main-sec aside .most-read ul li .post-content h3 a {
    color: #464646;
    display: inline-block
}

.main-sec aside .most-read ul li .post-content h5 {
    font-size: 13px;
    font-weight: 300;
    opacity: .6
}

.main-sec aside .most-read ul li .post-content span {
    font-size: 13px;
    font-weight: 300;
    opacity: .6
}

.main-sec aside .most-read ul li .post-content span a {
    border-bottom: 1px solid;
    color: #000;
    display: inline-block;
    line-height: 15px;
    border-color: #3a3a3a
}

.main-sec aside .most-read ul li .post-content span a:hover {
    text-decoration: none
}

.main-sec aside .tag-sec {
    margin-bottom: 50px
}

.main-sec aside .tag-sec h3 {
    font-size: 36px;
    font-weight: 300;
    padding: 0px 0 30px;
    color: #464646
}

.main-sec aside .tag-sec ul li {
    font-family: 'Raleway', sans-serif;
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px
}

.main-sec aside .tag-sec ul li a {
    color: #fff;
    background: #bcdfec;
    padding: 10px 14px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 500
}

.main-sec aside .tag-sec ul li a.sky-blue {
    background: #bcdfec
}

.main-sec aside .tag-sec ul li a.light-pink {
    background: #cdc4d5
}

.main-sec aside .tag-sec ul li a.nature {
    background: #dad0bc
}

.main-sec aside .tag-sec ul li a.health {
    background: #dad7b7
}

.main-sec aside .tag-sec ul li a.sky-blue-d {
    background: #9adaec
}

.main-sec aside .tag-sec ul li a.dark {
    background: #a69f98
}

.main-sec aside .tag-sec ul li a.jelly-bean {
    background: #6592a2
}

.main-sec aside .tag-sec ul li a.kashmir-blue {
    background: #868761
}

.main-sec aside .tag-sec ul li a.green {
    background: #3a7b6d
}

.main-sec aside .twitter-feed {
    border: 1px solid #e4e4e4;
    text-align: center;
    margin-bottom: 50px
}

.main-sec aside .twitter-feed h3 {
    font-size: 36px;
    font-weight: 300;
    padding: 32px 0 30px;
    border-bottom: 1px solid #eaeaea;
    color: #464646
}

.main-sec aside .twitter-feed ul {
    list-style-type: none;
    padding: 30px 30px
}

.main-sec aside .twitter-feed ul li {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px
}

.main-sec aside .twitter-feed ul li:last-child {
    margin-bottom: 0
}

.main-sec aside .twitter-feed ul li blockquote {
    font-style: italic;
    margin-bottom: 0
}

.main-sec aside .twitter-feed ul li a {
    text-decoration: underline;
    letter-spacing: 0.6px;
    color: #006fcd
}

.main-sec aside .twitter-feed ul li a.author {
    text-decoration: none
}

.main-sec aside .twitter-feed .twitter-follow {
    background: #00bff3;
    color: #fff;
    padding: 20px;
    width: 100%;
    display: block
}

.main-sec aside .twitter-feed .twitter-follow i {
    font-size: 20px
}

.subscribe-sec {
    width: 100%;
    float: left;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    height: 390px;
    display: flex;
    align-items: center;
    text-align: center
}

.subscribe-sec .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(244, 223, 225, 0.67);
    top: 0;
    left: 0
}

.subscribe-sec .container {
    position: relative
}

.subscribe-sec h3 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 8px
}

.subscribe-sec h5 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 35px
}

.subscribe-sec .form input {
    width: 250px;
    margin-right: 20px;
    height: 52px;
    border: 0;
    padding-left: 15px;
    font-size: 14px
}

.subscribe-sec .form input:focus {
    padding-left: 15px
}

.subscribe-sec .form input:focus::-webkit-input-placeholder {
    transition: text-indent 0.3s 0.3s ease;
    text-indent: -50%;
    opacity: 1
}

.subscribe-sec .form .submit-btn {
    margin: 0;
    background: #252525;
    padding: 13px 35px 13px;
    border: 2px solid #252525;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-left: -4px;
    height: 52px;
    line-height: 26px
}

.subscribe-sec .form .submit-btn:hover {
    color: #252525;
    background: #fff
}

.popular-posts {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 3px
}

.popular-posts .row {
    margin: 0
}

.popular-posts .twt-post {
    position: relative;
    padding: 0
}

.popular-posts .twt-post img {
    max-width: 100%;
    display: block;
    width: 100%
}

.popular-posts .twt-post .hover-effect {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    cursor: pointer;
    align-items: center;
    text-align: center;
    color: #fff
}

.popular-posts .twt-post .hover-effect .content {
    width: 100%;
    margin-top: 40px;
    transition: all 0.4s
}

.popular-posts .twt-post .hover-effect h4 {
    font-size: 18px;
    font-weight: 300
}

.popular-posts .twt-post .hover-effect span {
    font-size: 20px
}

.popular-posts .twt-post:hover .hover-effect {
    opacity: 1;
    visibility: visible
}

.popular-posts .twt-post:hover .hover-effect .content {
    margin-top: 0
}

footer {
    width: 100%;
    padding: 30px 0 22px;
    background: #bcdfec;
    float: left;
    width: 100%
}

footer h5 {
    color: #000;
    font-size: 18px;
    text-align: center;
    font-weight: 300
}

.fb-sec {
    width: 100%;
    margin-bottom: 40px
}

.collapse {
    display: block
}

.hr-color {
    border-bottom: 6px solid #e0dce4;
    margin-top: 0
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 20px;
        max-width: 100%
    }

    .main-sec .container {
        width: 100%;
        padding: 0 20px
    }

    .main-sec .standard-post-format {
        width: 68%
    }

    .main-sec aside {
        width: 30%
    }

    .header-main {
        padding: 40px 0
    }

    .main-sec aside .most-read ul li {
        padding: 30px 0
    }

    .subscribe-sec {
        height: 320px
    }
}

@media only screen and (max-width: 814px) {
    .main-sec .standard-post-format {
        width: 100%;
        margin-bottom: 50px
    }

    .main-sec aside {
        width: 330px;
        float: left;
        max-width: 100%
    }

    .nav-sec .nav .nav-item {
        padding: 18px 18px 15px 15px
    }

    .banner-sec .banner-content h1 {
        font-size: 36px
    }

    .banner-sec .banner-content h4 {
        font-size: 18px
    }

    .banner-sec {
        height: 400px
    }

    .main-sec .standard-post-format .small-post h2 {
        padding: 0 30px
    }

    .collapse {
        display: block
    }

    .navbar-toggler {
        display: none;
        outline: 0
    }

    .main-sec aside .about-sec figure {
        width: 200px;
        height: 200px
    }
}

@media only screen and (max-width: 640px) {
    .collapse {
        display: none;
        clear: both;
        margin-bottom: 20px
    }

    .navbar-toggler {
        display: block;
        float: right
    }

    .menu-button {
        width: 100%;
        clear: both
    }

    .header-main {
        clear: both;
        padding-top: 0
    }

    .nav-sec .nav .nav-item {
        border-right: 0px
    }

    .sharing-sec {
        display: none
    }

    .header-main .logo-sec img {
        width: 30%
    }

    .search-sec {
        text-align: center;
        margin-top: 18px
    }

    .header-main .search-sec .search {
        margin: 0 auto;
        float: initial
    }

    .banner-sec .banner-content h1 {
        font-size: 26px;
        line-height: 38px
    }

    .banner-sec .banner-content h4 {
        font-size: 16px;
        margin-bottom: 30px
    }

    .banner-sec {
        height: 340px
    }

    .main-sec .standard-post-format .big-post h2 {
        padding: 0 10px;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 24px
    }

    .main-sec .standard-post-format .post-item h5 {
        padding: 0 10px
    }

    .main-sec aside .most-read h3,
    .main-sec aside .category-sec h3,
    .main-sec aside .twitter-feed h3 {
        padding: 20px 0 20px;
        font-size: 30px
    }

    .subscribe-sec .form input {
        margin-bottom: 10px
    }

    .subscribe-sec h5 {
        margin-bottom: 25px
    }
}

@media only screen and (max-width: 360px) {
    .main-sec aside .about-sec .share span {
        font-size: 25px
    }

    .main-sec aside .most-read ul {
        padding: 0 10px
    }
}

.main-sec .standard-post-format .about-profile {
    padding-bottom: 60px;
    font-family: 'Old Standard TT', serif
}

.main-sec .standard-post-format .about-profile h1 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 50px
}

.main-sec .standard-post-format .about-profile img {
    margin-bottom: 60px;
    display: block
}

.main-sec .standard-post-format .about-profile p {
    font-size: 18px;
    padding: 0 40px;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    opacity: 0.8;
    letter-spacing: 0.6px
}

.main-sec .standard-post-format .about-profile blockquote {
    font-size: 22px;
    padding: 0 40px;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    opacity: 0.8;
    letter-spacing: 0.6px;
    font-style: italic
}

.blog h1 {
    font-size: 50px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #464646;
    margin-top: 10px
}

.main-sec.blog aside {
    margin-top: 15px
}

.blog-inner h1 {
    font-size: 38px;
    margin-bottom: 40px;
    padding: 0 75px;
    color: #464646
}

.blog-inner .post-item p {
    font-size: 18px;
    padding: 0 40px;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    opacity: 0.8;
    letter-spacing: 0.6px
}

.blog-inner .post-item blockquote {
    font-size: 22px;
    padding: 0 40px;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    opacity: 0.8;
    letter-spacing: 0.6px;
    font-style: italic
}

.blog-inner .similar-posts {
    margin-top: 20px
}

.blog-inner .similar-posts h3 {
    font-size: 38px;
    margin-bottom: 40px
}

.blog-inner .standard-post-format .big-post .share {
    margin-top: 100px
}

.contct-sec {
    border: 1px solid #e4e4e4;
    text-align: center;
    padding: 40px 0 60px
}

.contct-sec h1 {
    margin-bottom: 30px;
    color: #464646
}

.contct-sec h6 {
    font-size: 18px;
    padding: 0 40px;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    opacity: 0.8
}

.contct-sec .form {
    width: 365px;
    margin: 0 auto
}

.contct-sec .form li {
    margin-bottom: 25px;
    width: 100%;
    list-style: none
}

.contct-sec .form li input {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    font-style: italic;
    border: 1px solid #e2e2e2
}

.contct-sec .form li textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px 15px;
    font-style: italic;
    border: 1px solid #e2e2e2
}

.contct-sec .form li .btn {
    width: 100%;
    background: #464646;
    border: 2px solid #464646;
    font-style: italic;
    font-family: 'Old Standard TT', serif;
    text-transform: capitalize;
    font-size: 20px;
    padding: 12px 0 10px;
    transition: all 0.4s ease
}

.contct-sec .form li .btn:hover {
    background: transparent;
    color: #464646
}

@media only screen and (max-width: 1024px) {
    .blog h1 {
        margin: 10px 0 30px;
        font-size: 40px
    }
}

@media only screen and (max-width: 640px) {
    .main-sec .standard-post-format .about-profile p {
        padding: 0 10px;
        font-size: 16px;
        line-height: 26px
    }

    .main-sec .standard-post-format .about-profile blockquote {
        padding: 0 10px
    }

    .main-sec {
        padding: 50px 0 0;
        margin-bottom: 0px
    }

    .blog h1 {
        margin: 10px 0 24px;
        font-size: 28px;
        padding-left: 0
    }

    .main-sec.blog aside {
        margin-top: 0
    }

    .blog-inner h1 {
        padding: 0 20px;
        font-size: 28px;
        margin-bottom: 30px
    }

    .blog-inner .post-item p {
        padding: 0 10px
    }

    .blog-inner .post-item blockquote {
        padding: 0 10px
    }

    .blog-inner .similar-posts h3 {
        font-size: 30px;
        margin-bottom: 20px
    }

    .main-sec aside {
        width: 100%
    }

    .contct-sec .form {
        max-width: 100%;
        padding: 0 10px
    }

    .contct-sec h6 {
        padding: 0 10px
    }

    .contct-sec h1 {
        margin-bottom: 10px
    }

    footer h5 {
        line-height: 28px
    }
}

.tlinks {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */